@import 'variables';

.nav-container {
	width: 100%;
	margin: auto;
	.nav-header {
		width: 100%;
		padding: 5px 0px;
		.logo {
			cursor: pointer;
			img {
				width: 300px;
				@media (max-width: 1200px) {
					width: 220px;
				}
			}
		}
	
		.navbar {
			margin-left: auto;
			ul {				
				padding: 0;
				margin: 0;
				display: flex;
				min-height: 100%;
				li {
					list-style: none;
					min-height: 100%;
					width: auto;
					font-weight: 500;
					font-size: 18px;
					color: $theme-colors;
					font-family: Arial, Helvetica, sans-serif;
					@media (max-width: 1200px) {
						font-size: 15px;
					} 
					@media (max-width: 500px) {
						font-size: 12px;
					}
					a {
						padding: 15px 10px;
						min-height: 100%;
						text-decoration: none;
						text-transform: uppercase;
						@media (max-width: 1200px) {
							padding: 15px 7px;
						}
					}
					:hover {
						cursor: pointer;
						background-color: $theme-colors;
						color: $theme-colors-font;
					}
				}
			}
		}
	} //Nav-header
}//nav-container