/** Global Variables*/
$theme-colors: #1f4a72;
$theme-colors-font: #ffffff;
$default-font-size: 16px;
$section-heading: 32px;
$section-lg-heading: 24px;
$font-lg-content: 18px;
$font-md-content: 16px;
$font-sub-heading: 19px;
