/***************************************************** 
                Main scss File
******************************************************/

@import 'variables';
@import 'globleprop';
@import 'topbar';
@import 'navbar';
@import 'departments';
@import 'executiveTeam';
@import 'media';



